body {
	font-weight: 400;
	background: #EEEFF1;
	color: #000;
	line-height: 164%;
	font-family: "Roboto", sans-serif;
}

button, a {
	letter-spacing: 1.6px;
}

h1, h2, h3, h4 {
	font-weight: 500;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 21px;
}

.btn {
	background: #34547A;
	padding: 19px 41px 20px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
}

.container {
	max-width: 1110px;
	margin: 0 auto;
	padding: 0 16px;
}

.section1 {
	padding: 80px 0 140px;
}

.section1 header {
	margin-bottom: 150px;
}

.section1 nav a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	color: #34547A;
}

.section1 nav a:not(:first-of-type) {
	margin-left: 42px;
}

.section1 p {
	margin: 60px 0 65px;
	color: #727272;
	max-width: 540px;
}

.section2 {
	padding: 112px 0 100px;
	text-align: center;
	background: #fff;
}

.section2 p {
	max-width: 540px;
	margin: 50px auto 0;
	color: #727272;
}

#works {
	background: #34547A;
	color: #fff;
	padding: 100px 0;
}

.flex {
	display: flex;
	align-items: center;
}

#works .flex-wrapper {
	column-gap: 45px;
	justify-content: space-between;
}

#works .flex-item {
	column-gap: 20px;
}

.correct {
	margin-bottom: -15px;
}

.section3 {
	padding: 100px 0 100px;
	text-align: center;
	background: #fff;
}

.section3 p {
	color: #727272;
	margin: 60px auto 57px;
	max-width: 540px;
}

.img {
	filter: brightness(0.5);
}


.img-btn {
	position: relative;
	bottom: 350px;
}


.section4 {
	background: #34547A;
	padding: 30px;
}

.section4 p {
	color: #fff;
	font-size: 13px;
}



